<h3>Importar</h3>
<%= form_tag createstudent_path, multipart: true do %>
<%= file_field_tag :file %>
<%= submit_tag "Cargar" %>
<% end %>
<% flash.each do |key, value| %>
    <% if key == "success" %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% elsif key == "danger" %>
        <% value.each do |v| %>
            <div class="alert alert-danger"><%= v %></div>
        <% end %>
    <% end %>
<% end %>

