<h2>Gestionar</h2>
<p class="gestion"><%= link_to  "Grupos", groups_path %></p>
<p class="gestion"><%= link_to  "Candidatos", positionlist_path %></p>
<p class="gestion"><%= link_to  "Codigos", codes_path %></p>
<p class="gestion"><%= link_to  "Estudiantes", students_path %></p>
<p class="gestion"><%= link_to  "Resultados", view_path %></p>
