<% flash.each do |key, value| %>
    <div class="alert alert-<%=key %>"><%= value %></div>
<% end %>
<h1>Administrar Elecciones</h1>
<h2>Colegio Ciencia y Vida</h2>

<%= link_to  "Gestionar Codigos", codes_path %>
<%= link_to  "Gestionar Grupos", groups_path %>
<%= link_to  "Gestionar Candidatos", positionlist_path %>
<%= link_to  "Gestionar Estudiantes", students_path %>
<%= link_to  "Ver Resultados", view_path %>
