<table class="table" id="tabla">
    <h2>Sesiones iniciadas</h2>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%=key %>"><%= value %></div>
    <% end %>
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Usuario</th>
      <th scope="col">Fecha</th>
      <th scope="col">IP</th>
      <th scope="col">Nota</th>
    </tr>
  </thead>
  <tbody>
   <%@sesiones.each do |sesion| %>
    <tr>
      <td><%= link_to "Cerrar sesión", deletesession_path(sesion.id), class:"btn btn-danger" , method: :delete, data: { confirm: "¿Desea cerrar esta sesión?" } %></td>
      <td><%= user_by_id(sesion.user_id).user %></td>
      <td><%= sesion.created_at.strftime("%b %d a las %I:%M %p") %> </td>
      <td><%= eval(sesion.log)[:ip] %></td>
      <td><%= sesion.note %></td>
    </tr>
  <% end %>
  </tbody>
</table>