<% flash.each do |key, value| %>
    <div class="alert alert-<%=key %>"><%= value %></div>
<% end %>
<%= link_to 'administrar elecciones', admin_path if @autenticated == "admin"%>
<h1>Resultados Elecciones CyV</h1>
<div class="row">
  <% @positions.each do |position| %></p>
    <div class="col-4">
      <div class="card text-center">
        <div class="card-header">
          <h3><%= position.name %></h3>
        </div>
        <div class="card-body">
          Votos totales: <%= votes_per_position(position.id).count %>
        </div>
        <a class="card" href="<%= viewposition_path(position) %>">
          <div class="card-footer">
            Ver Resultados
          </div>
        </a>
      </div>
    </div>
  <%end%>
</div>
  