<% flash.each do |key, value| %>
    <div class="alert alert-<%=key %>"><%= value %></div>
<% end %>
<%= form_tag controller: :voters, action: :checkVoter do %>
    <%= label_tag(:identification, "Identificacion")%>
    <%= number_field_tag(:identification)%>
    <%= label_tag(:code, "codigo")%>    
    <%= text_field_tag(:code) %>
    <%= submit_tag('Iniciar', class: 'btn btn-secondary btn-sm', id:"card") %>
<% end %>