<table>
  <tr>
    <th></th>
    <th>Nombre</th>
    <th>Posiciones y Candidatos de este grupo</th>
    <th>Estudiantes registrados para votar</th>
    <th>Estudiantes que ya votaron</th>
  <tr>
  <% @groups.each do |group| %>
    <tr>
      <td><%= link_to  "entrar", showgroup_url(group) %></td>
      <td><%= group.name %></td>
      <td>
        <% Position.where(group: group.id).each do |position| %>
            <p><%= position.name %>: <%= Candidate.where(position: position.id).count %></p>
        <%end%>
      </td>
      <td><%= Voter.where(group: group.id).count %></td>
      <td><%= Voter.where(group: group.id, voted: true).count %></td>
    <tr>
  <% end %>
</table>

<%= link_to "Crear un grupo", newgroup_path %>