<p class="gestion"><%= link_to "Crear un grupo", newgroup_path, class:"btn btn-success" %></p>
<table class="table" id="tabla">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Grupo</th>
      <th scope="col">Posiciones y Candidatos</th>
      <th scope="col">Estudiantes registrados para votar</th>
      <th scope="col">Estudiantes que ya votaron</th>
    </tr>
  </thead>
  <tbody>
  <% @groups.each do |group| %>
    <tr>
      <td scope="row"><%= link_to "entrar", showgroup_path(group), class: "btn btn-primary btn-sm" %></td>
      <td><%= group.name %></td>
      <td>
        <% position_by_group(group.id).each do |position| %>
            <p><%= position.name %>: <%= candidates_per_position(position.id).count %></p>
        <%end%>
      </td>
      <td><%= voters_by_group(group.id).count %></td>
      <td><%= voters_by_group(group.id).where(voted: true).count %></td>
    </tr>
  <% end %>
  </tbody>
</table>
  <%= will_paginate @groups %>
