<% flash.each do |key, value| %>
    <div class="alert alert-<%=key %>"><%= value %></div>
<% end %>
<p>
  <%= link_to "imprimir codigos sin usar", codestoprint_path, class:"btn btn-success"  %>
  - <%= link_to "Eliminar los codigos sin usar", deleteunusedcodes_path, class:"btn btn-danger" , method: :delete, data: { confirm: "¿Esta accion eliminaria los codigos sin usar?" }%> 
  - <%= link_to "Eliminar todos los codigos", deleteallcodes_path, class:"btn btn-danger" , method: :delete, data: { confirm: "CUIDADO: ¿Esta accion eliminaria TODOS los codigos y sus respectivos votos?" } %>
</p>
<div id="tabla">
    <%= form_for code_path do |f| %>
        <%= f.number_field :code, placeholder:"Numero de codigos a crear"%>
        <%= f.submit 'crear', class: 'btn btn-secondary btn-sm', id:"card" %>
    <% end %>
</div>
<div class="codelist" id="tabla">
    <%@codes.each do |code|%>
        <% if code.code != "TEST" %>
            <p><%= link_to "Supr", deletecode_path(code), class:"btn btn-secondary btn-sm", method: :delete, data: { confirm: "¿Eliminar el codigo y sus respectivos votos?" } %>
            <strong><%=code.code%></strong> <%=code.used ? "Usado en: " : "Sin Usar" %> 
            <%= begin 
                    group_of_a_code(code.id).name if code.used
                rescue
                    "deshabilitado."
                end %>
            </p>
        <%end%>
    <%end%>
    <%= will_paginate @codes %>
</div>